<div class="center">
    <h1>What is the Government Diversity Project?</h1>
    <br>
    <p>
        The Government Diversity project seeks to compile all of the demographic information of all government representatives of the past 50 years.
        This information includes gender, age, ethnicity, political affiliations, and locations. Geographical locations of 
        the information can be found for all 50 states and the top 20 most populated cities. By clicking analytics, users will 
        be presented with a visualization of all the information.
        Hyperlinks to all of the tables that we pooled the data from can be found under the visualization in the analytics page.
    </p>
</div>