<div class="center">
    <h1>What is the Governemnt Diversity Project?</h1>
    <br>
    <p>
        The Government Diversity project seeks compile all of the personal information of all government representatives of the past 50 years.
        This information includes gender, age, ethnicity, amongst other political affiliations and locations. Geographical locations of 
        the information can be found in 50 states and the top 20 most populated cities. By clicking on the tabs in the dashboard, users
        can view the raw html tables. By clicking analytics, users will be presented with a visualization of all the information.
    </p>
</div>